@import "./responsive.scss";

.layout{
    background-color: aqua;
    height: 100vh;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: gray;

    }

    @include md{
        background-color: pink;

    }
    
    @include sm{
        background-color: greenyellow;

    }
    
  
}